* a{
    text-decoration: none;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.barra-preta{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: white;
    padding: 0 20px;
    background-color: black;
}

.barra-azul{
    background-color: #1E88E5;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    width: 80%;
}

.container img{
    height: 90px;
    width: auto;
}

.container h3{
    font-size: 14px;
}

.container a{
    text-decoration: none;
    color: black;
}

.container input{
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.bloco{
    display: flex;
    align-items: center;
    gap: 10px;
}

.bloco img{
    height: 55px;
    width: auto;
}

.arrumado {
    display: flex;
    justify-content: center;
}

.barra-nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.barra-nav a{
    text-decoration: none;
    color: black;
    background-color: #76FF03;
    padding: 10px 30px;
    border-radius: 0 0 20px 20px;
}

.icons{
    width: auto;
}

header hr{
    background-color: #1E88E5;
    height: 2px;
    margin: 20px 0;
}

footer{
    background-color: black;
    color: white;
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    padding-bottom: 1%;
    bottom: 0;
    left: 0;
    z-index: 10;
    text-align: center;
}

.bloco-footer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.bloco-footer div {
    width: 30%;
}

.bloco-footer a{
    color: white;
}

.bloco-footer img{
    width: 190px;
    height: auto;
}

.footer-final img{
    height: 80px;
    width: auto;
}