main {
    padding: 100px;
}

main h1 {
    text-align: center;
    margin-bottom: 30px;
}

.inovacao {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.inovacao article {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.inovacao p {
    color: #333;
}
